{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Rohan Agarwal</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="https://media.discordapp.net/attachments/776200516840456232/1023915493561745418/20191219_033432.jpg?width=816&height=612" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What does Rohan like in general?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Rohan likes baseball, football, and a few other sports</li>
                            <li>He likes to eat good food.</li>
                            <li>He likes to stargaze at night sometimes.</li>
                            <li>His favorite teams are the San Diego Padres and the Los Angeles Chargers.</li>
                            <li>His favorite food is pizza.</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="https://i.scdn.co/image/ab67616d0000b273510386fad7163f516ab99f47" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What kind of music does Rohan listen to?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Rohan listens to many genres of music.</li>
                            <li>some genres include mainstream pop (stuff on the radio), rap, lofi, melodic rap, and even game soundtracks</li>
                            <li>Rohan likes to listen to chill-hop, lofi, or certain game soundtracks while working.</li>
                            <li>When he is travelling or with friends, he listens to either mainstream pop or rap music.</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="https://static01.nyt.com/images/2021/02/19/sports/19kepner-padres-print1/18kepner-padres-1-mediumSquareAt3X.jpg" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Rohan's top 10 favorite sports players</h5>
                    <p class="card-text">
                        <ol>
                            <li>Manny Machado</li>
                            <li>Fernando Tatis Jr.</li>
                            <li>Justin Herbert</li>
                            <li>Josh Allen</li>
                            <li>Patrick Mahomes</li>
                            <li>Blake Snell</li>
                            <li>Virat Kohli</li>
                            <li>MS Dhoni</li>
                            <li>Jasprit Bumrah</li>
                            <li>Rohit Sharma</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}